#meme-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#fm-like-container {
  width: 350px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  display: block;
}

#fm-comment-container {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  display: block;
}
